<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    </head>
	<div class = "topnav">
		<a class="active" href="/terminal/mainmenu">Home</a>
		<a href="/terminal/trade">Trade</a>
		<a href="/terminal/lookup">Lookup</a>
		<a href="/terminal/quote">Quote</a>
		<a href="/terminal/account">Check Balance</a>
	</div>
    <body>
        <h1>Your Portfolio</h1>
		<p><text style="font-size:100%;">Total Portfolio Value (Stocks + Cash): {{ result1 }}</text></p>
		<p><text style="font-size:100%;">Stocks: {{ result2 }}</text></p>
        <p><text style="font-size:100%;">Cash: {{ result3 }}</text></p>
		<p><text style="font-size:100%;">P&L: {{ result4 }}</text></p>
    </body>
</html>    
